$textMainFamily = Lato

$textSizeHeader = 30px
$textSizeHeaderL = 50px

$textSizeButton = 15px
$textSizeButtonL = 18px

$textSizeInputButton = 15px
$textSizeInputButtonL = 30px

$textSizeButton2 = 18px

$textSizeListLabel = 15px
$textSizeListLabelL = 18px
$textSizeListValue = 18px
$textSizeListValueL = 25px

$textSizeInput = 15px
$textSizeInputL = 30px

$textSizeMainValue = 90px
$textSizeMainValueL = 180px
$textSizeMainSubValue = 18px
$textSizeMainSubValueL = 25px

$textWeightMain = 400
$textWeightHeader = 400
$textWeightButton = 400
$textWeightButton2 = 700
$textWeightListLabel = 400
$textWeightListValue = 700
$textWeightListValueL = 400
$textWeightMainValue = 300


